div.navbar {
	background-image: linear-gradient(rgb(189, 11, 17), rgb(130, 0, 3));
	margin: auto;
	margin-top: 2%;
	overflow: hidden;
	height: 200px;
	width: 65%;
	border-radius: 15px;
	border-color: #530406;
	border-style: solid;
	border-width: 3px;
}

.navbar a {

	position: relative;
	float: left;
	text-align: center;
	align-items: center;
	padding: 10% 0;
	height: inherit;
	width: 33%;
	box-sizing: border-box;

}

.navbar a:hover {

	background-color: rgb(0, 0, 0)

}

.navbar div.separator{

	position: relative;
	float: left;
	margin: 2.5% 0;
	height: 150px;
	width: 0.5%;
	background-color: #530406;
	border-radius: 50px;

}

div.taskbar-slot {



}

/* 	BD0B11 red
	332F31 grey
*/