/* 	
	732426 Inactive Red
	332F31 Grey
	BD0B11 Active Red
	C8C8C8 Text Grey
*/

div.panel {

	background-color: #732426;
	
	margin: auto;
	overflow: hidden;

	border-radius: 15px;
	border-color: #732426;
	border-style: solid;
	border-width: 3px;

}

div.navbar {

	/* background-image: linear-gradient(#BD0B11, #820003); */
	
	margin-top: 2%;
	
	height: 75px;
	width: 65%;
	
}

.navbar a {

	position: relative;
	float: left;

	padding: 2.5% 0;
	height: inherit;
	width: 33%;
	box-sizing: border-box;

	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

	text-align: center;
	align-items: center;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	text-shadow: 0 0 5px #000000;

	color: #C8C8C8;
}

.navbar a:hover {

	background-color: #BD0B11;
	/* color: #000000; */

}

.navbar div.separator{

	position: relative;
	float: left;
	
	margin: 1.25% 0;
	height: 75px;
	width: 0.5%;
	
	background-color: #732426;
	
	border-radius: 50px;

}